#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#input-form {
  position: sticky;
  top: 60%;
}

#speech-recognition-button {
  position: sticky;
  top: 50%;
  right: 100%;
}
